TabWidth: 8
IndentWidth: 8
PPIndentWidth: -1
UseTab: AlignWithSpaces
IndentPPDirectives: AfterHash
ColumnLimit: 100

SeparateDefinitionBlocks: Always

NamespaceIndentation: None
FixNamespaceComments: true
WrapNamespaceBodyWithEmptyLines: Always
