TabWidth: 8
IndentWidth: 8
PPIndentWidth: -1
UseTab: AlignWithSpaces
IndentPPDirectives: AfterHash
ColumnLimit: 100
AccessModifierOffset: -8
IndentRequiresClause: false
RequiresClausePosition: OwnLine
ContinuationIndentWidth: 8

ReflowComments: Always

SeparateDefinitionBlocks: Leave
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Inline

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 8

BreakAfterReturnType: Automatic
PenaltyReturnTypeOnItsOwnLine: 0
BreakTemplateDeclarations: Yes

ForEachMacros:
  - SECTION
  - GIVEN
  - AND_GIVEN
  - THEN
  - AND_THEN
  - WHEN
  - AND_WHEN

BracedInitializerIndentWidth: 8
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  SplitEmptyNamespace: true
  SplitEmptyRecord: true

NamespaceIndentation: None
FixNamespaceComments: true
#WrapNamespaceBodyWithEmptyLines: Always

AlignArrayOfStructures: Left
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: None
